@use "./_fonts";

* {
  box-sizing: border-box;
}

:root {
  --background-color-primary: #1f2a4e;
  --background-color-secondary: #0f1732;
  --font-color-primary: #e2e8f0;
  --font-color-secondary: #94a3b8;
  --selected-color-primary: #222f57;
  --selected-color-secondary: #304f7b;
  --font-family-primary: "Inter", Arial, Helvetica, sans-serif;
  font-variant-numeric: tabular-nums lining-nums;
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  color: var(--font-color-primary);
  font-family: var(--font-family-primary);
}

p {
  color: var(--font-color-secondary);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-center-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.button {
  height: 50px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: var(--selected-color-primary);
  border: 1px solid var(--selected-color-secondary);
  color: var(--font-color-primary);
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family-primary);
  cursor: pointer;
}

.hover-color-primary {
  &:hover > * {
    color: var(--font-color-primary);
  }
}

.text-norm {
  font-size: 1rem;
}

.text-med {
  font-size: 1.5rem;
}

.text-lg {
  font-size: 2rem;
}

.text-xl {
  font-size: 3rem;
}

.font-norm {
  font-weight: 400;
}

.font-med {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.color-primary {
  color: var(--font-color-primary);
}

.color-secondary {
  color: var(--font-color-secondary);
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}
